body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	max-height: 100%; 
	position: fixed;
	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

#leftBar{
	position: fixed;
	top: 0;
	bottom: 0; 
	left: 0;
	width: 60px;
	height: 100%;
	background: #484a4d;
}

#content {
	position: fixed;
	top: 40px; 
	left: 60px;
	right: 0;
	bottom: 40px;
	background-color: #f4f4f4;
	/*background-color: #000;*/
}

.page-info{
	position: fixed;
	left: 60px;	
	right: 0px;
	height: 40px;
	background-color: #fff;
	border-bottom:1px solid #e1e4e8;
	padding: 10px;
}

.scrolled {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.black{
	background-color: #000;
}

label{
	font-weight : normal;
}

hr{
	height: 1px;
	background-color: #c9ccd0;
	color: #c9ccd0;
	border: 0;
}


.barTabs{
	position: fixed;	
	/*background-color: #ccc;*/
	height: 40px;
	width: 60px;
}

/* Bottom Bar */

.barBottom{
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 60px;
	/*background-color: #ccc;*/
}


.navigation-bar{
	position: fixed;
	bottom: 0;
	left: 60px;
	right: 0;
	height: 40px;
	background-color: #f4f4f4;
	padding-left: 17px;
	padding-top: 10px;
	border-top:1px solid #e1e4e8;
}

.logFilterButton{
	padding: 0px 10px 0px 0px;
	display: inline;
	font-size: 13px;
	border-radius: 8px;
    color: #83868a;
    padding: 1px 6px 0 6px;
}

.logFilterButton:hover, .logFilterButton.selected{
	background-color: #dbdee2;
	cursor: default;
}

/*button live*/

.btn-live {
    background-image: url('../images/btns/live.png');
    background-repeat: no-repeat;
    background-size: 32px, 31px;
    position: fixed;
    height: 32px;
    width: 31px;
    bottom: 3px;
    right: 5px;
}

.btn-live:hover {
    background-image: url('../images/btns/live-hover.png');
}

.btn-live:active {
    background-image: url('../images/btns/live-down.png');
}

.btn-live.selected {
    background-image: url('../images/btns/live-selected.png');
}

.btn-live.selected:hover {
    background-image: url('../images/btns/live-selected-hover.png');
}

.btn-live.selected:active {
    background-image: url('../images/btns/live-selected-down.png');
}

.btn-live:disabled {
    background-image: url('../images/btns/live-switching.png');
    opacity: 1;
}


/*Left Tabs*/

.btn-run {
	background: #484a4d;
	background-image: url('../images/btns/run.png');
	width: 60px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 60px, 40px;
}



.btn-run:hover {
	background-image: url('../images/btns/run-hover.png');
}

.btn-build {
	background: #484a4d;
	background-image: url('../images/btns/build.png');
	width: 60px;
	height: 40px;
	width: 60px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 60px, 40px;
}

.btn-build:hover, .btn-build:hover {
	background-image: url('../images/btns/build-hover.png');
}


.btn-settings {
	background: #484a4d;
	background-image: url('../images/btns/settings.png');
	width: 60px;
	height: 40px;
	width: 60px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 60px, 40px;
}

.btn-settings:hover, .btn-settings:hover {
	background-image: url('../images/btns/settings-hover.png');;
}

.btn-run.tabSelected {
	background-image: url('../images/btns/run-down.png');
	background-color: #37393B;
	border-top:1px solid #2D2F31;
	border-bottom:1px solid #535657;
}

.btn-build.tabSelected {
	background-image: url('../images/btns/build-down.png');
	background-color: #37393B;
	border-top:1px solid #2D2F31;
	border-bottom:1px solid #535657;
}

.btn-settings.tabSelected {
	background-image: url('../images/btns/settings-down.png');
	background-color: #37393B;
	border-top:1px solid #2D2F31;
	border-bottom:1px solid #535657;
}

