body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	max-height: 100%; 
	position: fixed;
	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

#leftBar{
	position: fixed;
	top: 0;
	bottom: 0; 
	left: 0;
	width: 60px;
	height: 100%;
	background: #484a4d;
}

#content {
	position: fixed;
	top: 40px; 
	left: 60px;
	right: 0;
	bottom: 40px;
	background-color: #f4f4f4;
	/*background-color: #000;*/
	overflow: auto;

}

.black{
	background-color: #000;
}

label{
	font-weight : normal;
}

hr{
	height: 1px;
	background-color: #c9ccd0;
	color: #c9ccd0;
	border: 0;
}


.barTabs{
	position: fixed;	
	/*background-color: #ccc;*/
	height: 40px;
	width: 60px;
}

.barBottom{
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 60px;
	/*background-color: #ccc;*/
}

.page-info{
	position: fixed;
	left: 60px;	
	right: 0px;
	height: 40px;
	background-color: #f4f4f4;
}

.navigation-bar{
	position: fixed;
	bottom: 0;
	left: 60px;
	right: 0;
	height: 40px;
	background-color: #f4f4f4;
}


/*Left Tabs*/

.btn-run {
    background: #484a4d;
    background-image: url('../images/btns/run.png');
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 60px, 40px;
}

.btn-run:hover {
    background-image: url('../images/btns/run-hover.png');
}

.btn-build {
	background: #484a4d;
    background-image: url('../images/btns/build.png');
    width: 60px;
    height: 40px;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 60px, 40px;
}

.btn-build:hover, .btn-build:hover {
    background-image: url('../images/btns/build-hover.png');
}

.btn-build:active, .btn-build:selected {
    background-image: url('../images/btns/build-down.png');
}

.btn-settings {
    background: #484a4d;
    background-image: url('../images/btns/settings.png');
    width: 60px;
    height: 40px;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 60px, 40px;
}

.btn-settings:hover, .btn-settings:hover {
    background-image: url('../images/btns/settings-hover.png');
}

.btn-settings:active, .btn-settings:selected {
    background-image: url('../images/btns/settings-down.png');
}

