<meta name="colt-main-document" content="index.html#/build">
<div class="scrolled">
	<div class="container" style="padding-top:10px">
		<form class="col-xs-12">
			<button class="btn btn-default" ng-click="showWelcomeScreen(['index', 'blabla'])">Welcome Screen</button>
			<button class="btn btn-default" ng-click="showPurchaseDialog()">Buy Popup</button>
			<button class="btn btn-default" ng-click="showCloseColtDialog()">Close/Save</button>
			<button class="btn btn-default" ng-click="showUpdateDialog()">Update Popup</button>
			<button class="btn btn-default" ng-click="showProxyDialog()">Proxy</button>
			<button class="btn btn-default" ng-click="showMessageDialog('warning', 'hello message')">Alert</button>
			<button class="btn btn-default" ng-click="testJsDocs()">Open JS Doc</button>

			<br><br>

			<button class="btn btn-default" ng-click="showOpenProjectDialog()">Open Project</button>
			<button class="btn btn-default" ng-click="showNewProjectDialog()">New Project</button>
			<button class="btn btn-default" ng-click="showSaveAsProjectDialog()">Save As Project</button>
			<button class="btn btn-default" ng-click="testJsDocsFile('/Volumes/Archive/Projects/colt-ui/out/global.html')">Open JS Doc (HTML)</button>
		</form>
	
	</div>
	<br><br>
	<!-- <p>projectBaseDir: {{projectBaseDir}}</p> -->
</div>