<div class="scrolled">
	<div class="container" style="padding-top:10px">
		<form class="col-xs-12">
			<button class="btn btn-default" ng-click="showWelcomeScreen()">Show Welcome Screen</button>
			<button class="btn btn-default" ng-click="showPurchaseDialog()">Test Buy Popup</button>
			<button class="btn btn-default" ng-click="showCloseColtDialog()">Test Close/Save</button>
			<button class="btn btn-default" ng-click="showUpdateDialog()">Test Update Popup</button>
			<button class="btn btn-default" ng-click="showProxyDialog()">Test Proxy</button>
		</form>
	
	</div>
</div>`