<!doctype html>
<html lang="en" class="en">
<head>
    <meta charset="UTF-8">
    <title>Log Visualizer</title>
    <style>
    html, body { background: #f7f8fa; height: 100%; width: 100%; margin: 0px; overflow: hidden; }
    canvas { display: block; }
    </style>
</head>

<body onload="init()" onresize="resizeCanvas()">
    <canvas id="canvas"></canvas>

    <!-- debug --
    <img src="chart.png" style="position:absolute; top:0; left:0; opacity: 0.75;" />
    !-- -->

    <img src="legend.png" style="position:absolute; top:47px; left:12px;" />

    <script>
    

</script>
</body>
</html>
