<meta name="colt-main-document" content="index.html#/settings">
<div class="scrolled">
	
	<div class="container" style="padding-top:10px">
		<form class="col-xs-12">
			<browse-path label="Main Document :" path="model.build['main-document']" nwworkingdir="projectBaseDir"></browse-path>
			<!-- Project Type -->
			<form-part-header label="Launcher"></form-part-header>
			<browse-path-radio id="radio" label="Browser" current-value="model.live.launch.launcher" expected-value="BROWSER" path="model.live.launch['browser-path']" placeholder="DEFAULT"></browse-path-radio>
			
			<browse-path-radio id="radio" label="node.js" current-value="model.live.launch.launcher" expected-value="NODE_JS" path="model.live.launch['nodejs-path']"></browse-path-radio>
			
			<browse-path-radio id="radio" label="node-webkit" current-value="model.live.launch.launcher" expected-value="NODE_WEBKIT" path="model.live.launch['node-webkit-path']" placeholder="DEFAULT"></browse-path-radio>

			<input-radio id="radio" label="Console" current-value="model.live.launch.launcher" expected-value="CONSOLE" path="model.live.launch['console-value']"></input-radio>

			<radio label="Manual" current-value="model.live.launch.launcher" expected-value="MANUAL"></radio>

			<!-- Live Settings -->

			<form-part-header label="Live Settings"></form-part-header>

			<browse-path-checkbox label="Use Custom Output:" checked="model.build['use-custom-output-path']" path="model.build['out-path']"></browse-path-checkbox>		

			<!-- <fileset label="Live Reload Pattern:" paths="model.paths['reloads-set']"></fileset> -->

			<value label="Exclude Pattern:" value="model.paths['excludes-set']"></value>

			<!-- <checkbox checked="model.live.live['disable-in-minified']" label="Disable livecoding in minified scripts"></checkbox> -->

			<!-- <checkbox checked="model.live.live['live-html-edit']" label="Live HTML edit where possible"></checkbox> -->

			<!-- <checkbox checked="model.live.live.paused" label="Start session paused"></checkbox> -->

			<value value="model.live.live['max-loop']" label="Max Loop Iterations:"></value>

			<checkbox checked="model.live.live['enable-debuger']" label="Don't Catch Runtime Exceptions (check for debugging)"></checkbox>

			<checkbox checked="model.live.live['simple-reload']" label="Simple Reload Mode (Live Reload)"></checkbox>


			<!-- <checkbox checked="model.build['use-real-time-transformation']" label="Use realtime transformation"></checkbox> -->
			
			<!-- Precompile --

			<form-part-header label="Precompile"></form-part-header>

			<checkbox checked="model.build.precompile['type-script']" label="Precompile TypeScript"></checkbox>

			<checkbox checked="model.build.precompile['coffee-script']" label="Precompile CoffeeScript"></checkbox>

			<checkbox checked="model.build.precompile['use-less']" label="Precompile LESS"></checkbox>

			<checkbox checked="model.build.precompile['use-sass']" label="Precompile SASS"></checkbox>
			-->

			<!-- Offline CMS -->

			<form-part-header label="Offline CMS"></form-part-header>

			<checkbox checked="model.build['offline-cms']['integrate-mercury']" label="Integrate Mercury Editor into HTML Page"></checkbox>

			<checkbox checked="model.build['offline-cms']['run-mercury']" enabled="model.build['offline-cms']['integrate-mercury']" label="Run Mercury Editor when Page Loaded"></checkbox>

			<!-- Shared Access -->

			<!-- <form-part-header label="Shared Access"></form-part-header>

			<checkbox checked="model.build.security['use-inspectable']" label="Shared Inspectable Properties"></checkbox>

			<checkbox checked="model.build.security['use-cms']" label="Shared Offline CMS"></checkbox> -->

			<!-- Live Session -->

			<form-part-header label="Live Session"></form-part-header>
			<!-- <checkbox checked="model.live.settings['disconnect']" label="Disconnect on ping timeout"></checkbox> -->

			<checkbox checked="model.live.settings['clear-log']" label="Clear Messages Log on Session Start"></checkbox>

			<!-- Other -->

			<form-part-header label="Other"></form-part-header>

			<copy-value value="'&lt;script&gt;if(location.href!='+mainDocumentUrl+'){location.href = '+mainDocumentUrl+'}&lt;/script&gt;'" label="Redirection Snippet:"></copy-value>
			<copy-value value="mainDocumentUrl" label="Main Document URL:"></copy-value>

		</form>

	</div>
</div>
<iframe id="ga-page" src="http://codeorchestra.com/ga/settings.html" nwdisable nwfaketop></iframe>