/*
|-------------------------------------------------------------------------------
| CHEATSHEET: JavaFX CSS
| http://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
| http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
| http://docs.oracle.com/javafx/2/css_tutorial/jfxpub-css_tutorial.htm
| http://docs.oracle.com/javafx/2/layout/builtin_layouts.htm
| http://fxexperience.com/2010/05/how-to-embed-fonts/
| http://www.youtube.com/watch?v=AV1_xh_-Uzw — Fluid Layout
|-------------------------------------------------------------------------------
|
| JavaFX CSS currently does not effect layout. So it does not support CSS layout
| properties such as display, float, position, overflow, height, and width.
|
|---------------------------------------
| Styling objects and Selectors
|---------------------------------------
|
| Nodes:
|   Containers:
|       BorderPane  // It's like table#wrapper with top (header), left (sidebar),
|                   // center (main), right (sidebar), bottom (footer) regions
|           GridPane // It's like a stack of cleared rows
|               AnchorPane  // It's like a relative positioned div for
|                           // BorderPane or GridPanes cells.
|                           // Not sensitive to the padding property
|               HBox // Its' like cleared rows for floating items
|               VBox
|               Region // It is typically a rounded rectangle like fieldset
|
|       Pane
|       Group
|       Node
|       Parent
|       Scene
|       ImageView
|       FlowPane
|       StackPane
|       TilePane
|
|   Shape:
|       Arc
|       Circle
|       CubicCurve
|       Ellipse
|       Line
|       Path
|       Polygon
|       QuadCurve
|       Rectangle
|       SVGPath
|
|   WebView
|
|   Controls:
|       Accordion
|       Button
|       ButtonBase
|       Cell // special property: -fx-cell-size
|       CheckBox
|       CheckMenuItem
|       ChoiceBox
|       ColorPicker
|       ComboBox
|       ComboBoxBase
|       Control
|       Hyperlink
|       IndexedCell
|       Label
|       Labeled
|       ListCell
|       ListView
|       Menu
|       MenuBar
|       MenuButton
|       MenuItem
|       Pagination
|       PasswordField
|       PopupControl
|       ProgressBar
|       ProgressIndicator
|       RadioButton
|       RadioMenuItem
|       ScrollBar
|       ScrollPane
|       Separator
|       Slider
|       SplitMenuButton
|       SplitPane
|       TabPane
|       TableView
|       TextArea
|       TextInputControl
|       TextField
|       TitledPanel // special properties: -fx-animated, -fx-collapsible
|       ToggleButton
|       ToolBar
|       Tooltip
|       TreeCell
|       TreeView
|
|   Charts: // They have many special property
|       AreaChart
|       BarChart
|       BubbleChart
|       Chart
|       LineChart
|       ScatterChart
|       PieChart
|       XYChart
|           Axis
|           ValueAxis
|           NumberAxis
|           CategoryAxis
|           Legend
|
| Pseudo-classes:
|   :hover
|   :visited // Only for hyperlinks
|   :focused // Instead of :focus
|   :pressed // Instead of :active
|   :disabled
|   :vertical // .scroll-bar:vertical
|   :selected // ToggleButton, Checkboxes, RadioMenuItem
|
| Not supported pseudo-classes and pseudo-elements:
|   :after, :before, :active, :focus, :first-child, :first-line, :first-letter,
|   :lang, :link
|
|---------------------------------------
| Color formats, properties, functions,
|---------------------------------------
|
| #000 // Preferred
| rgb(49, 89, 23)
| rgba(255, 0, 0, .44)
|
| -fx-opacity:
| -fx-blend-mode: [ add | blue | color-burn | color-dodge | darken | difference
|   exclusion | green | hard-light | lighten | multiply | overlay | red | screen
|   soft-light | src-atop | src-in | src-out | src-over ]
| -fx-text-fill: derive(#000, 20%);
|   function to make color lighter or darker (-<number>%)
|
| transparent > null // -fx-background-color: null
|
|---------------------------------------
| Properties
|---------------------------------------
|
| Base and common
|   -fx-background: #f7f8fa;
|   -fx-base: #515458;
|
|   -fx-cursor  [ null | crosshair | default | hand | move | e-resize | h-resize
|       ne-resize | nw-resize | n-resize | se-resize | sw-resize | s-resize
|       w-resize | v-resize | text | wait ] | <url>
|   visibility  [ visible | hidden | collapse | inherit ]
|
| Text
|   -fx-text-fill: #000; // color
|   -fx-font: bold italic 13px serif; -fx-font: 2px 'sans-serif';
|   -fx-font-family // 'sans-serif', 'serif', 'monospace', 'system'
|   -fx-font-size
|   -fx-font-style
|   -fx-font-weight
|   -fx-text-alignment: center;
|   -fx-underline
|
|   -fx-font-smoothing-type [ gray | lcd ]  default is gray
|   -fx-strikethrough   <boolean>
|   -fx-text-origin [ baseline | top | bottom ] baseline
|
| Not supported text properties
|   comma-separated series of font family names, line height, font-variant
|
| Box
|   -fx-padding: 3 6 6 6;
|   -fx-padding: 10;
|   -fx-spacing: 8; // Looks like margins
|
| Background
|   -fx-fill: yellow;
|   -fx-background-color // <color> | <linear-gradient> | <radial-gradient>
|   -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
|   -fx-background-color: linear-gradient(#f8f9fb, #e4e5e7 90%, #edeef0 100%),
|   -fx-background-color: linear-gradient(from top to bottom, #0099d9, #0066cc 84%, #007ad9 100%);
|       linear-gradient( [ [from <point> to <point>], ]? [ [ repeat | reflect ], ]? <color-stop>[, <color-stop>]+)
|       linear-gradient(from 0% 0% to 100% 100%, red, black 100%)
|       // % or px after 0s are required
|       // it is theoretically possible to use the values ​​"top", "bottom",
|       // "left", and "right" but the Scene Builder reports errors
|       linear-gradient(from 0px 0px to 0px 50px, gray, darkgray 50%, dimgray 99%, white)
|       // create a 50px high bar at the top with a 3 color gradient
|       // with white underneath for the rest of the filled area.
|   -fx-background-color: radial-gradient(radius 100%, red, darkgray, black)
|   -fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, gray, darkgray 75%, dimgray)
|
|   -fx-background-insets: 0.0 5.0 0.0 5.0;
|       A series of size values or sets of four size values, separated by commas.
|       A single size value means all insets are the same. Otherwise, the four
|       values for each inset are given in the order top, right, bottom, left.
|       Each comma-separated value or set of values in the series applies to the
|       corresponding background color.
|
|   -fx-background-radius: 20; // I think it's addition for border-radius
|
|   -fx-background-image: url('img/arrow.png')
|   -fx-background-repeat: no-repeat;
|   -fx-background-position:
|   -fx-background-size: 20px, 40px; // NB: values are separated by commas
|
| Effects
|   -fx-effect: dropshadow( gaussian, black, 8 , 0.0, 2, 0 );
|   -fx-effect: innershadow( gaussian, black, 8 , 0.0, 2, 0 );
|       dropshadow( <blur-type>, <color>, <size>, <choke>, <x>, <y>)
|       blur-type: gaussian | one-pass-box | three-pass-box | two-pass-box
|
| Border
|   -fx-border-width: 2px;
|   -fx-border-color: rgb(49, 89, 23);
|   -fx-border-style
|       <dash-style> [phase <number>]? [centered | inside | outside]?
|           [line-join [miter <number> | bevel | round]]?
|           [line-cap [square | butt | round]]?
|           <dash-style> = [ none | solid | dotted
|           dashed | segments( <number>, <number> [, <number>]*) ]
|   -fx-border-radius: 5px;
|   -fx-border-insets
|   -fx-stroke-width: 5px; // Stroke properties use for shapes, like arc, circle
|   -fx-stroke: green;
|
|   -fx-border-image-source: url(img/border.png)
|   -fx-border-image-width
|   -fx-border-image-insets
|   -fx-border-image-repeat [repeat-x | repeat-y | [repeat | space | round | no-repeat]
|   -fx-border-image-slice
|
| Distribution and Alignment
|   -fx-spacing // HBox and VBox — gaps (margins) between the childs
|   -fx-hgap // FlowPane, GridPane, TilePane  — gaps (margins) between the childs
|   -fx-vgap // ——||——
|
|   -fx-alignment   [ top-left | top-center | top-right | center-left | center
|       center-right bottom-left | bottom-center | bottom-right | baseline-left
|       baseline-center | baseline-right ]  top-left
|   -fx-orientation [ horizontal | vertical ]
|       FlowPane, TilePane, ListView, ScrollBar, Separator, Slider,
|       SplitPane, ToolBar
|   -fx-column-halignment   [ left | center | right ]
|   -fx-row-valignment  [ top | center | baseline | bottom ]
|   -fx-orientation [ horizontal | vertical ]
|
| Transformation
|   -fx-rotate: 45;
|   -fx-scale-x
|   -fx-scale-y
|   -fx-scale-z
|   -fx-translate-x
|   -fx-translate-y
|   -fx-translate-z
|
| Misc
|   Webview
|       -fx-font-scale
|       -fx-min-width
|       -fx-min-height
|       -fx-pref-width
|       -fx-pref-height
|       -fx-max-width
|       -fx-max-height
|
|   Labeled object
|       -fx-graphic
|       -fx-wrap-text
|       -fx-content-display
|       -fx-graphic-text-gap
|       -fx-label-padding
|       -fx-ellipsis-string
|
|   Pagination
|       -fx-max-page-indicator-count
|       -fx-arrows-visible
|       -fx-tooltip-visible
|       -fx-page-information-visible
|       -fx-page-information-alignment
|
|   ProgressBar
|       -fx-indeterminate-bar-length
|       -fx-indeterminate-bar-escape
|       -fx-indeterminate-bar-flip
|       -fx-indeterminate-bar-animation-time
|
|   ScrollPane
|       -fx-fit-to-width
|       -fx-fit-to-height
|       -fx-pannable
|       -fx-hbar-policy
|       -fx-vbar-policy
|
| ???????
|
|   -fx-image
|   -fx-background-fills // shorthand for -fx-background-color,
|       -fx-background-insets, -fx-background-radius.
|   -fx-background-images // shorthand for -fx-background-image,
|       -fx-background-position, -fx-background-repeat, -background-size.
|   -fx-stroke-borders // shorthand for -fx-border-color, -fx-border-insets,
|       -fx-border-radius, -fx-border-style, -fx-border-width.
|   -fx-image-borders // shorthand for -fx-border-image-source,
|       -fx-border-image-insets, -fx-border-image-repeat,
|       -fx-border-image-slice, -fx-border-image-width.
|   -fx-position-shape
|   -fx-scale-shape
|   -fx-shape
|   -fx-snap-to-pixel
|
|---------------------------------------
| Naming convention: prefixes in selectors
|---------------------------------------
| a — link
| art - article
| box — box
| bnr — banner
| btn — button
| cbx — checkbox
| doc — document
| f — form
| ftr — feature
| gl - global
| i — input
| ico — icon
| l - list
| ln - line
| m — menu
| mob — mobile, i.e. smartphones
| p — page
| pc - desktop computer
| plc - placeholder
| rb — radio button
| s — select
| sec — page section, block
| sl - slider
| sm — submenu
| ta — textarea
| tbl — tablet
| tbn — thumbnail
| tsr — teaser
| txt - text
|
*/

.root { /* It's like body styles and LESS variables*/
    -fx-background-color: #f7f8fa;
    -fx-font: 13px 'Arial';
    -fx-mid-text-color: #515458;

    /* Buttons Colors Variables — I get an error with they */
    /*-fx-body-color: linear-gradient(#f8f9fb, #e4e5e7 90%, #edeef0 100%);*/
    /*-fx-outer-border: #c9ccd0;*/
    /*-fx-inner-border: transparent;*/
    /*-fx-focus-color: #0099ff;*/
    /*-fx-highlight-color: #ffffff;*/

    /* FX caspian variables */
    /* -fx-color: -fx-base;
    -fx-base: #d0d0d0;  */ }

.text, .scroll-pane {
    -fx-font: 13px 'Arial';
    -fx-font-smoothing-type: inherit; }
.notification-text {
    -fx-font: 11px 'Arial';
    -fx-font-smoothing-type: inherit;
}
/*
|-------------------------------------------------------------------------------
| Sidebar
|-------------------------------------------------------------------------------
*/

.sidebar {
    -fx-background-color: #484a4d; }

.sidebar .toggle-button, .sidebar .button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60px, 40px;
    -fx-border-insets: 0;
    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-border-width: 1px 0;
    -fx-effect: null;
    -fx-padding: 0; }

.sidebar .toggle-button:pressed, .sidebar .toggle-button:selected,
.sidebar .button:pressed {
    -fx-background-color: #37393b;
    -fx-border-color: #2d2f31 #2d2f31 #535657 #535657; }

.btn-run {
    -fx-background-image: url('images/btns/run.png'); }

.btn-run:focused, .btn-run:hover {
    -fx-background-image: url('images/btns/run-hover.png'); }

.btn-run:pressed, .btn-run:selected {
    -fx-background-image: url('images/btns/run-down.png'); }

.btn-stop {
    -fx-background-image: url('images/btns/stop.png'); }

.btn-stop:focused, .btn-pause:hover {
    -fx-background-image: url('images/btns/stop-hover.png'); }

.btn-stop:pressed, .btn-pause:selected {
    -fx-background-image: url('images/btns/stop-down.png'); }

.btn-pause {
    -fx-background-image: url('images/btns/pause.png'); }

.btn-pause:focused, .btn-pause:hover {
    -fx-background-image: url('images/btns/pause-hover.png'); }

.btn-pause:pressed, .btn-pause:selected {
    -fx-background-image: url('images/btns/pause-down.png'); }

.btn-build {
    -fx-background-image: url('images/btns/build.png'); }

.btn-build:focused, .btn-build:hover {
    -fx-background-image: url('images/btns/build-hover.png'); }

.btn-build:pressed, .btn-build:selected {
    -fx-background-image: url('images/btns/build-down.png'); }

.btn-settings {
    -fx-background-image: url('images/btns/settings.png'); }

.btn-settings:focused, .btn-settings:hover {
    -fx-background-image: url('images/btns/settings-hover.png'); }

.btn-settings:pressed, .btn-settings:selected {
    -fx-background-image: url('images/btns/settings-down.png'); }

.btn-more {
    -fx-background-image: url('images/btns/more.png'); }

.btn-more:focused, .btn-more:hover {
    -fx-background-image: url('images/btns/more-hover.png'); }

.btn-more:pressed { -fx-background-image: url('images/btns/more-down.png'); }


/* Popup Menu */
.popup-bl {
    -fx-border-image-source: url('images/popup-menu-bl.png');
    -fx-border-image-slice: 40px 40px 40px 60px fill;
    -fx-border-image-width: 40px 40px 40px 60px; }

.popup-br {
    -fx-border-image-source: url('images/popup-menu-br.png');
    -fx-border-image-slice: 40px 60px 40px 40px fill;
    -fx-border-image-width: 40px 60px 40px 40px; }

.menu-v { -fx-padding: 10px 0 11px; }

.menu-v .button {
    -fx-alignment: top-left;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: .462em 20px; }

.menu-v .button:hover { -fx-background-color: #0066cc; }

.menu-v .button:hover,
.menu-v .button:hover .label {
    -fx-text-fill: white; }

.menu-v .button:hover .text { -fx-effect: dropshadow(gaussian, #0052b8,  0, 0, 0, -1px); }

.menu-v .button:pressed { -fx-effect: null; }

.submenu-arrow {
    -fx-background-image: url('images/btns/arrow-r.png');
    -fx-background-position: 0 3px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 9px, 9px; }

.menu-v .button:hover .submenu-arrow { -fx-background-image: url('images/btns/arrow-r-w.png'); }

/* Context Menu */
.context-menu {
    -fx-background-color:
        rgba(0, 0, 0, .3),
        rgba(247, 247, 247, .9),
        rgba(239, 239, 239, .9);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-padding: .769em 1px .846em; }
.context-menu .separator {
    -fx-background: #dddddd;
}
.context-menu .menu-item { -fx-padding: .385em 20px .308em; }

.context-menu .menu-item .label {
    -fx-padding: 0;
    -fx-text-fill: #515458; }

.context-menu .menu-item:disabled .label { -fx-opacity: .44; }

.context-menu .menu-item:focused {
     -fx-background: #0066cc;
     -fx-background-color: #0066cc;
     -fx-text-fill: white; }

.context-menu .menu-item:focused .label,
.context-menu .menu-item:hover .label {
    -fx-effect: dropshadow(gaussian, #0052b8,  0, 0, 0, -1px);
    -fx-text-fill: white; }

.context-menu .menu-item:focused .text,
.context-menu .menu-item:hover .text {
    -fx-effect: null; }


.context-menu .menu-item:show-mnemonics .mnemonic-underline { -fx-stroke: null; }

/* Player */
.player-box {
    -fx-border-image-source: url('images/player-box.png');
    -fx-border-image-slice: 40px 40px 40px 40px fill;
    -fx-border-image-width: 40px 40px 40px 40px; }

.player-box .toggle-button, .player-box .button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px, 24px;
    -fx-effect: null;
    -fx-padding: 0; }

.player-box .toggle-button:pressed, .player-box .button:pressed { -fx-background-position: 0 1px; }

.player-box .toggle-button:hover, .player-box .button:hover { -fx-opacity: .72; }

.player-box .toggle-button:selected:disabled { -fx-opacity: 1; }

.player-box .toggle-button:selected:hover, .player-box .button:selected:hover { -fx-opacity: 1; }


.player-box .btn-player-pause {
    -fx-background-image: url('images/btns/player-pause.png'); }

.player-box .btn-player-pause:selected, .player-box .btn-player-pause:hover, .player-box .btn-player-pause:selected:disabled {
    -fx-background-image: url('images/btns/player-pause-selected.png'); }

.player-box .btn-player-play {
    -fx-background-image: url('images/btns/player-play.png'); }

.player-box .btn-player-play:selected, .player-box .btn-player-play:hover, .player-box .btn-player-play:selected:disabled {
    -fx-background-image: url('images/btns/player-play-selected.png'); }

.player-box .btn-player-stop {
    -fx-background-image: url('images/btns/player-stop.png'); }

.player-box .btn-player-stop:selected, .player-box .btn-player-stop:hover, .player-box .btn-player-stop:selected:disabled {
    -fx-background-image: url('images/btns/player-stop-selected.png'); }

.player-box .separator .line {
    -fx-background-color: #595959;
    -fx-border-width: 0;
    -fx-padding: .5; }

.player-box .btn-player-add {
    -fx-background-image: url('images/btns/player-add.png'); }

.player-box .btn-player-add:selected, .player-box .btn-player-add:hover {
    -fx-background-image: url('images/btns/player-add-selected.png'); }

/*
|-------------------------------------------------------------------------------
| Main Area
|-------------------------------------------------------------------------------
*/

.title-bar {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #e1e4e8;
    -fx-font: 17px 'Roboto';
    -fx-padding: 9px 60px 10px 0;
    -fx-effect: dropshadow(gaussian, #f1f4f8, 0, 0, 0, 1px); }

/* Containers */

.scroll-pane-settings, .scroll-pane-settings:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0; }

.fieldset {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #c9ccd0;
    -fx-border-style: solid;
}

.fieldset-line-bottom {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #c9ccd0;
    -fx-border-style: solid;
}

.scroll-pane .legend, .legend .text { -fx-font-weight: bold; }

/* Inputs */

.text-input {
    -fx-highlight-fill: #06c; /* ::selection */
    -fx-highlight-text-fill: white; /* ::selection */
    -fx-text-fill: #515458; }

.text-area, .text-field, .fileset-webview {
    -fx-background-color: #c9ccd0, #f0f0f0, #fff;
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 1, 0, 0;
    -fx-padding: 0; }

.text-field {
    -fx-alignment: top-left;
    -fx-padding: 8px 7px 0 7px; }

.text-area .content { -fx-padding: 7px 7px 0 7px; }

.text-area:focused, .text-field:focused, .fileset-webview-focus {
    -fx-background-color: #0099ff, #008cf2, #f0f0f0, #fff;
    -fx-background-insets: -1.4, 0, 1, 2 1 1 1;
    -fx-background-radius: 2.4, 1, 0, 0; }

/* Messages */
.error-input {
    -fx-background-color: #c00, #f0f0f0, #fff;
    -fx-background-insets: -1, 1, 2 1 1 1;
    -fx-background-radius: 2, 0, 0; }

.error-input:focused {
    -fx-background-color: #f33, #c00, #f0f0f0, #fff;
    -fx-background-insets: -1.4, 0, 1, 2 1 1 1;
    -fx-background-radius: 2.4, 1, 0, 0; }

.error-label {
    -fx-background-image: url('images/messages/error.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16px, 16px;
    -fx-text-fill: #c00;
    -fx-padding: 1px 0 1px 24px; }

/* Checkboxes and Radio Buttons */
.check-box .box, .radio-button .radio {
    -fx-background-color: #cbcfd3, #f0f0f0, #fff;
    -fx-background-insets: 0, 1px, 2px 1px 1px 1px; }

/* Buttons andd choice-box */
.button, .choice-box {
    -fx-alignment: top-center;
    -fx-background-color: #c9ccd0, #fff, linear-gradient(#f8f9fb, #e4e5e7 90%, #edeef0 100%);  /* Border, highlight, main */
    -fx-background-insets: 0, 1, 2 1 1 1; /* --||-- */
    -fx-background-radius: 4, 3, 2;
    -fx-effect: dropshadow(gaussian, #f1f4f8,  0, 0, 0, 1px);
    -fx-text-fill: #515458; }

.button { -fx-padding: 8px 6px 6px 6px; }
.choice-box { -fx-padding: 0 6px 0 6px; }

.choice-box .label { -fx-padding: 8px 0 7px 0; }

.choice-box:focused {
    -fx-background-color: #0099ff, #008cf2, #fff, linear-gradient(#f8f9fb, #e4e5e7 90%, #edeef0 100%);
    -fx-background-insets: -1.4px, 0, 1, 2 1 1 1;
    -fx-background-radius: 5.4, 4, 3, 2; }

/*.button:focused {
    -fx-background-color: #0099ff, #008cf2, #fff, linear-gradient(#f8f9fb, #e4e5e7 90%, #edeef0 100%);
    -fx-background-insets: -1.4px, 0, 1, 2 1 1 1;
    -fx-background-radius: 5.4, 4, 3, 2; }*/

.button:hover {
    -fx-background-color: #c9ccd0, #fff, linear-gradient(#fff, #f1f2f3 90%, #fafbfd 100%);
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4, 3, 2; }

/*.button:focused:hover {
    -fx-background-color: #0099ff, #008cf2, #fff, linear-gradient(#fff, #f1f2f3 90%, #fafbfd 100%);
    -fx-background-insets: -1.4px, 0, 1, 2 1 1 1;
    -fx-background-radius: 5.4, 4, 3, 2; }*/

.button:pressed {
    -fx-background-color: #c9ccd0, #e4e5e7;
    -fx-background-insets: 0, 1;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, .4), 8, 0, 0, 2);
    -fx-padding: 9px 6px 5px 6px; }

.button:default {
    -fx-background-color: #0073bf, #19b2f2, linear-gradient(#0da6e5, #0066cc 90%, #006ed4 100%);  /* Border, highlight, main */
    -fx-text-fill: #fff; }

.button:default .text { -fx-effect: dropshadow( gaussian, #0059a6,  0, 0, 0, -1px); }

.button:default:hover {
    -fx-background-color: #0073bf, #26bfff, linear-gradient(#19b2f2, #0073d9 90%, #007be1 100%); }

.button:default:pressed {
    -fx-background-color: #0073bf, #0066cc;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 51, .4), 8, 0, 0, 2); }

/*.button:focused:pressed {
    -fx-background-color: #c9ccd0, #e4e5e7;
    -fx-background-insets: 0, 1;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, .4), 8, 0, 0, 2);
    -fx-padding: 10px 6px 0 6px; }*/

.button .text { -fx-effect: dropshadow( gaussian, #fff,  0, 0, 0, 1px); }

.btn-add {
    -fx-background-image: url('images/btns/add.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px, 30px;
    -fx-padding: 0; }

.btn-add:pressed {
    -fx-background-position: 0 1px; }

.toggle-button:disabled, .button:disabled { -fx-opacity: .44; }

/* Advanced settings */
.fieldset-advanced-caption { -fx-background-color: #dde0e4; }
.fieldset-advanced { -fx-background-color: #ebeef2; }

.btn-show, .btn-show:hover, .btn-hide, .btn-hide:hover, .btn-hide-dialog, .btn-hide-dialog:hover {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-position: 2px 10px;
    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 9px, 9px;
    -fx-effect: null;
    -fx-padding: 8px 0 0 20px; }

.btn-show { -fx-background-image: url('images/btns/arrow-r.png'); }

.btn-hide { -fx-background-image: url('images/btns/arrow-d.png'); }

.btn-hide-dialog { -fx-background-image: url('images/btns/arrow-u.png'); }

.btn-show:hover, .btn-hide:hover, .btn-hide-dialog:hover { -fx-text-fill: #000; }

.btn-show:pressed, .btn-hide:pressed , .btn-hide-dialog:pressed {
    -fx-background-position: 2px 11px;
    -fx-padding: 9px 0 0 20px;
    -fx-opacity: 1; }

/* List View */
.list-view-simplified,
.list-view-simplified .list-cell,
.list-view-simplified .list-cell:odd,
.list-view-simplified:focused,
.list-view-simplified:focused .list-cell:focused,
.list-view-simplified:focused .list-cell:focused:odd,
.list-view-simplified:horizontal .list-cell:filled:selected:hover,
.list-view-simplified:focused .list-cell:filled:focused:selected:hover,
.list-view-simplified:horizontal .list-cell:filled:selected,
.list-view-simplified:focused .list-cell:filled:focused:hover,
.list-view-simplified:focused .list-cell:filled:selected:hover,
.list-view-simplified .list-cell:filled:hover,
.list-view-simplified:focused .list-cell:filled:focused:selected{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.list-view-simplified .list-cell {
    -fx-opacity: 1;
    -fx-padding: 6px;
    -fx-text-fill: #515458;
}

/*
|-------------------------------------------------------------------------------
| Status Bar
|-------------------------------------------------------------------------------
*/

.status-bar {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #dde0e4;
    -fx-padding: 4px 4px 4px 8px; }

.filters {
    -fx-spacing: 2px;
    -fx-padding: 8px 0 7px 0;  }

.filters .toggle-button, .filters .toggle-button:hover {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 8px;
    -fx-text-fill: #83868a;
    -fx-padding: 1px 6px 0 6px; }

.filters .toggle-button:hover, .filters .toggle-button:selected {
    -fx-background-color: #dbdee2; }

.status-bar .label {
    -fx-text-fill: #83868a;
    -fx-padding: 0; }

/* Live Session Button */
.btn-live {
    -fx-background-color: null;
    -fx-background-image: url('images/btns/live.png');
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 32px, 31px;
    -fx-border-insets: 0;
    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-margin: 0;
    -fx-padding: 0; }

.btn-live:focused, .btn-live:hover { -fx-background-image: url('images/btns/live-hover.png'); }

.btn-live:pressed { -fx-background-image: url('images/btns/live-down.png'); }

.btn-live:selected { -fx-background-image: url('images/btns/live-selected.png'); }

.btn-live:selected:hover { -fx-background-image: url('images/btns/live-selected-hover.png'); }

.btn-live:pressed:selected { -fx-background-image: url('images/btns/live-selected-down.png'); }

.btn-live:disabled {
    -fx-background-image: url('images/btns/live-switching.png');
    -fx-opacity: 1;
}

/*
|-------------------------------------------------------------------------------
| Scroll Bar
|-------------------------------------------------------------------------------
*/

/* Resets */
.scroll-bar,
.scroll-bar:vertical > .track-background,
.scroll-bar:vertical:hover > .track-background,
.scroll-bar:vertical:hover, .scroll-bar:vertical:focused:hover,
.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0; }

.scroll-bar,
.scroll-bar:vertical > .track-background,
.scroll-bar:vertical:hover > .track-background,
.scroll-bar:vertical:hover, .scroll-bar:vertical:focused:hover {
    -fx-padding: 1px 0; }

/* Buttons — hide them without using the display property */
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0; }

.scroll-bar:disabled { -fx-opacity: .44; }

/* Track (bar) */
.scroll-bar .track {
    -fx-border-color: #e3e4e6;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0; }

/* Thumb (slider) */
.scroll-bar > .thumb, .scroll-bar:focused .thumb {
    -fx-background-color: #bfc2c4;
    -fx-background-radius: 4px; }

.scroll-bar .thumb:hover, .scroll-bar:focused .thumb {
    -fx-background-color: derive(#bfc2c4, -12%); }

/*
|---------------------------------------
| Vertical
|---------------------------------------
*/

/* Buttons arrows — use it to set bar width */
.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 15px 0 0; }

/* Track (bar) */
.scroll-bar:vertical .track {
    -fx-border-width: 0 1px 0 1px;
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #edeef0, #fbfcfe 50%, #f0f7f9 100%); }

/* Thumb (slider) */
.scroll-bar:vertical > .thumb {
    -fx-background-insets: 2px 3px 2px 4px; }

/*
|---------------------------------------
| Horizontal
|---------------------------------------
*/

/* Buttons arrows — use it to set bar width */
.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 15px 0; }

/* Track (bar) */
.scroll-bar:horizontal .track {
    -fx-border-width: 1px 0 1px 0;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #edeef0, #fbfcfe 50%, #f0f7f9 100%); }

/* Thumb (slider) */
.scroll-bar:horizontal > .thumb {
    -fx-background-insets: 4px 2px 3px 2px; }

/*
|---------------------------------------
| Affected
|---------------------------------------
*/

.list-view .corner {
    -fx-background-color: #f7f8fa;
    -fx-background-insets: 0;
    -fx-border-color: #e3e4e6; }

/*
|-------------------------------------------------------------------------------
| Dialogs
|-------------------------------------------------------------------------------
*/

.h1 .text {
    -fx-font: bold 16px 'Arial'; }

/*
|-------------------------------------------------------------------------------
| ProgressIndicator | Aquafx
|-------------------------------------------------------------------------------
*/

.progress-indicator { -fx-indeterminate-segment-count: 12; }

.progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color:
        rgb(208, 208, 208),
        linear-gradient(rgb(176, 176, 176), rgb(207, 207, 207)),
        linear-gradient(rgb(190, 190, 190) 0%, rgb(213, 213, 213) 15%, rgb(230, 230, 230) 50%, rgb(235, 235, 235) 100%),
        linear-gradient(to left, rgb(196, 196, 196, 0.5) 0%, rgb(220, 220, 220, 0.2) 2% , transparent);
    -fx-background-insets: 0.5 0 -0.5 0, 0, 0.5, 1;
    -fx-padding: 0.83333em; }

.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color:
       rgb(208, 208, 208),
       radial-gradient(center 50% 50%, radius 50%, rgb(84, 170, 240), rgb(90, 192, 246));
    -fx-background-insets: 0, 0.5;
    -fx-padding: 0.166667em; }

.progress-indicator > .determinate-indicator > .tick {
    -fx-background-color: rgb(208, 208, 208), white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em;
    -fx-shape: "m 18.174523,1027.137 c -0.18077,-0.4575 -0.184364,-0.8913 0.115901,-1.1721 0.300265,-0.2809 0.836622,-0.3601 1.288422,-0.041 0.4518,0.3191 2.020453,2.9316 2.020453,2.9316 l 5.41194,-8.0232 c -4e-6,0 0.516257,-0.6671 1.248682,-0.3099 0.648831,0.3165 0.559153,1.0373 0.559153,1.0373 0,0 -5.940433,9.3556 -6.15501,9.6287 -0.214577,0.273 -1.595078,0.2481 -1.817995,-0.027 -0.222917,-0.2751 -2.490777,-3.567 -2.671546,-4.0244 z";
    -fx-scale-shape: false; }

.progress-indicator > .percentage { -fx-font-size: 0.916667em; }

.progress-indicator:disabled { -fx-opacity: -fx-disabled-opacity; }

.progress-indicator:indeterminate > .spinner { -fx-padding: 0.083333em; }

.progress-indicator:indeterminate .segment {
    -fx-background-color: rgb(95.0, 95.0, 98.0), rgb(122.0, 122.0, 125.0);
    -fx-background-insets:0.0, 0.5; }

.progress-indicator:indeterminate .segment0 { -fx-shape:"m 14.321262,6.5816808 c -0.824944,0.3797564 -0.10368,1.8484772 0.718513,1.3544717 L 18.786514,5.9486042 C 19.644992,5.4932031 18.92648,4.1387308 18.068001,4.5941315 z"; }
.progress-indicator:indeterminate .segment1 { -fx-shape:"m 15.372451,9.2445322 c -0.906719,-0.051108 -0.957826,1.5843588 0,1.5332498 l 4.241273,0 c 0.97179,0 0.97179,-1.5332498 0,-1.5332498 z"; }
.progress-indicator:indeterminate .segment2 { -fx-shape:"m 14.423504,13.443113 c -0.824945,-0.379757 -0.10368,-1.848478 0.718512,-1.354472 l 3.746739,1.987548 c 0.858478,0.455401 0.139967,1.809873 -0.718512,1.354473 z"; }
.progress-indicator:indeterminate .segment3 { -fx-shape:"m 12.10997,15.070611 c -0.49762,-0.759687 0.893182,-1.621681 1.327834,-0.766626 l 2.120636,3.673051 c 0.485895,0.841595 -0.841938,1.60822 -1.327833,0.766625 z"; }
.progress-indicator:indeterminate .segment4 { -fx-shape:"m 9.2224559,19.539943 c -0.051108,0.906718 1.5843581,0.957826 1.5332501,0 l 0,-4.241273 c 0,-0.97179 -1.5332501,-0.97179 -1.5332501,0 z"; }
.progress-indicator:indeterminate .segment5 { -fx-shape:"M 8.0465401,15.070611 C 8.5441601,14.310924 7.1533584,13.44893 6.7187068,14.303985 l -2.1206366,3.673051 c -0.485895,0.841595 0.8419383,1.60822 1.3278333,0.766625 z"; }
.progress-indicator:indeterminate .segment6 { -fx-shape:"M 5.7330066,13.443113 C 6.5579512,13.063356 5.8366865,11.594635 5.0144939,12.088641 L 1.2677551,14.076189 C 0.409277,14.53159 1.1277888,15.886062 1.9862674,15.430662 z"; }
.progress-indicator:indeterminate .segment7 { -fx-shape:"m 0.42171041,9.2083842 c -0.90671825,-0.051108 -0.95782608,1.5843588 0,1.5332498 l 4.24127319,0 c 0.9717899,0 0.9717899,-1.5332498 0,-1.5332498 z"; }
.progress-indicator:indeterminate .segment8 { -fx-shape:"M 5.7330066,6.5305598 C 6.5579512,6.9103162 5.8366865,8.3790371 5.0144939,7.8850315 L 1.2677551,5.8974832 C 0.409277,5.4420823 1.1277888,4.0876101 1.9862674,4.5430105 z"; }
.progress-indicator:indeterminate .segment9 { -fx-shape:"M 8.0465401,4.9030617 C 8.5441601,5.6627485 7.1533584,6.5247425 6.7187068,5.6696872 L 4.5980702,1.9966363 C 4.1121752,1.1550418 5.4400085,0.38841683 5.9259035,1.2300114 z"; }
.progress-indicator:indeterminate .segment10 { -fx-shape:"m 9.2224559,4.62535 c -0.051108,0.9067177 1.5843581,0.957826 1.5332501,0 l 0,-4.24127319 c 0,-0.9717899 -1.5332501,-0.9717899 -1.5332501,0 z"; }
.progress-indicator:indeterminate .segment11 { -fx-shape:"m 12.007729,4.9541827 c -0.49762,0.7596865 0.893181,1.6216808 1.327833,0.7666252 L 15.456199,2.0477574 C 15.942094,1.2061627 14.61426,0.43953765 14.128365,1.2811324 z"; }