<!DOCTYPE html>
<html ng-app="COLT">
<head>
	
	<title>COLT 2.0</title>

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/styles.css">

</head>
<body ng-controller="AppCtrl" >
	<script src="lib/jquery.js"></script>
	<script src="lib/angular.js"></script>
	<script src="lib/bindonce.js"></script>	
	<script src="lib/xml2json.js"></script>
	<script src="lib/angular-ui-router.js"></script>
	<script src="app/log-view-directive.js"></script>		
	<script src="app/log-visualizer-directive.js"></script>		
	<script src="app/directives.js"></script>	
	<script src="app/app.js"></script>
	<script src="app/analitics-service.js"></script>
	<script src="app/menu.js"></script>
	<script src="app/services.js"></script>
	<script src="app/dialogs.js"></script>
	<script src="app/controller.js"></script>
	<div id="leftBar">
		<ul class="barTabs">
			<li><div class="btn-run" ng-class="{tabSelected:(pageIndex==2)}" ui-sref="log"></div></li>
			<li><div class="btn-build" ng-class="{tabSelected:(pageIndex==1)}" ui-sref="build"></div></li>
			<li><div class="btn-settings" ng-class="{tabSelected:(pageIndex==0)}" ui-sref="settings"></div></li>
		</ul>
		<div class="barBottom"></div>
	</div>
	<div class="page-info">
		<div class="text-center">{{model._projectName + '/' + pageName}}</div>
	</div>
	<div ui-view id="content"></div>
	<div class="navigation-bar">
		<div class="logFilterButton" ng-class="{selected:logFilter==undefined}" ng-click="selectLogFilter(undefined)" ng-show="pageIndex==2">All</div>
		<div class="logFilterButton" ng-class="{selected:logFilter=='ERROR'}" ng-click="selectLogFilter('ERROR')" ng-show="pageIndex==2">Errors({{filter.errorsCount}})</div>
		<div class="logFilterButton" ng-class="{selected:logFilter=='WARNING'}" ng-click="selectLogFilter('WARNING')" ng-show="pageIndex==2">Warnings({{filter.warningCount}})</div>
		<div class="logFilterButton" ng-class="{selected:logFilter=='INFO'}" ng-click="selectLogFilter('INFO')" ng-show="pageIndex==2">Info({{filter.infoCount}})</div>
		<div class="logFilterButton" ng-class="{selected:logFilter=='LIVE'}" ng-click="selectLogFilter('LIVE')" ng-show="pageIndex==2">Live({{filter.liveCount}})</div>
		<button class="btn-live" ng-disabled="sessionStateSwitching" ng-class="{selected:sessionInProgress}" ng-click="startSession()"></button>
	</div>
	<input id="newProjectInput" style="display:none;" nwsaveas="project.colt" type="file" accept=".colt" nwworkingdir="{{projectBaseDir}}"> 
	<input id="saveAsProjectInput" style="display:none;" nwsaveas type="file" accept=".colt" nwworkingdir="{{projectBaseDir}}">
	<input id="openProjectInput" style="display:none;" type="file" accept=".colt" nwworkingdir="{{projectBaseDir}}"> 
	<input id="openDemoProjectInput" style="display:none;" type="file" accept=".colt" nwworkingdir="{{demoProjectsDir}}"> 

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','lib/analytics.js','ga');

	ga('create', 'UA-40699654-4', 'colt.io');
	ga('send', 'pageview');

	</script>
</body>
</html>